<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h5>Base de flask from base</h5>
    {% block content%}
    {% endblock content%}

<img src="{{url_for('static',filename='img/Linux_Red_Hat.gif')}}" alt="">


    <footer>
        <div class="container">
            <div class="row">
                <div class="copyright text-muted" >&copy Flask</div>
            </div>
        </div>
    </footer>

<script src="{{url_for('static',filename='js/app.js')}}"></script>
</body>
</html>